<app-navbar></app-navbar>
<div class="experience-container">
    <h2 class="section-title">Experiencia Laboral</h2>
  
    <div class="job">
      <h3 class="job-title">Auxiliar de Seguridad Privada</h3>
      <h4 class="company">E.S.C. Servicios Auxiliares Prosegur | 2023 - Actualidad</h4>
      <p class="job-description">
        Experiencia en vigilancia de estadios, naves industriales y áreas de recepción, garantizando la seguridad,
        el control de accesos y la protección de bienes e instalaciones.
      </p>
    </div>
  </div>
  