<app-navbar></app-navbar>
<div class="profile-container">
    <h2 class="section-title">Perfil Profesional</h2>
    <p class="profile-text">
      Futuro desarrollador de Aplicaciones Web en busca de oportunidades para aplicar y ampliar mis conocimientos en diseño y programación.
      Me apasiona crear soluciones funcionales y atractivas, adaptadas a las necesidades de los usuarios.
    </p>
    <p class="profile-text">
      Mi objetivo es contribuir al éxito de proyectos innovadores y crecer profesionalmente en el ámbito del desarrollo del software.
      Cuento con disponibilidad completa.
    </p>
  </div>
  