<app-navbar></app-navbar>
<div class="interests-container">
    <h2 class="section-title">Datos de Interés</h2>
  
    <div class="interest">
      <i class="fas fa-id-card"></i> Carnet de Conducir
    </div>
  
    <div class="interest">
      <i class="fas fa-car"></i> Vehículo Propio
    </div>
  
    <div class="interest">
      <a href="https://github.com/dguisado7" target="_blank" class="social-link">
        <i class="fab fa-github"></i> GitHub
      </a>
    </div>
  
    <div class="interest">
      <a href="https://linkedin.com/in/dguisado7" target="_blank" class="social-link">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
  