<app-navbar></app-navbar>
<div class="personal-info-container">
    <h2 class="section-title">Datos Personales</h2>
    
    <div class="info-item"><strong>Nombre Completo:</strong> David Guisado Núñez</div>
    <div class="info-item"><strong>Fecha de Nacimiento:</strong> 02-02-2005</div>
    <div class="info-item"><strong>Teléfono:</strong> 605 851 521</div>
    <div class="info-item"><strong>Correo:</strong> <a href="mailto:dguisado7@gmail.com">dguisado7&#64;gmail.com</a></div>
    <div class="info-item"><strong>Dirección:</strong> Sevilla, España</div>
  </div>
  