<app-navbar></app-navbar>
<div class="education-container">
    <h2 class="section-title">Formación Académica</h2>
  
    <div class="education">
      <h3 class="degree">Desarrollo de Aplicaciones Web</h3>
      <h4 class="institution">Instituto Tecnológico Superior ADA</h4>
      <p class="years">Sevilla, Sevilla | 2023 - Actualidad</p>
    </div>
  
    <div class="education">
      <h3 class="degree">Bachillerato</h3>
      <h4 class="institution">IES Ramón del Valle Inclán</h4>
      <p class="years">Sevilla, Sevilla | 2021 - 2023</p>
    </div>
  </div>
  